# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/.vs/sustainible-app-v4.0-dashboard/v17
.vs/slnx.sqlite
.vs/sustainible-app-v4.0-dashboard/config/applicationhost.config
.vs/sustainible-app-v4.0-dashboard/FileContentIndex/7f1b9d78-3edd-44bb-a3c9-3a73d57e92e2.vsidx
.vs/sustainible-app-v4.0-dashboard/FileContentIndex/5f2adb86-b42b-4ade-a861-f3d46222c00a.vsidx
/.vs

src/config.ts
src/app/config.ts
