.profile-pic {
  width: 100px;
  height: 100px;

}
.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
.table-responsive{
  border-radius: 1em;
  padding: 1em;
}
.bg-warning, .bg-success, .bg-danger{
  color: #fff;
  padding: 0.5em;
}


.custom-badge {
 padding: 1em;
}
