<section class="banner">
    <div class="banner-container">
        <h3>Website is being worked on</h3>
    </div>
</section>
<main class="hero">
    <div class="hero-text">
            <h1>Spillwine Publication</h1>
            <span class="hero-small-text">
                Spillwine Publishing is a news Publication
                that emphasises on news that are most relevant to you.
            </span>
            <div class="spacer"></div>
            <button mat-raised-button color="accent"> Learn More</button>
    </div>
    <div class="social-list">

    </div>
</main>