<main class="full-page  middle hero-bg">
    <section class="container">
        <div class="hero">
            <div class="hero-header-text">Personalized <span class="primary-text">News Hub</span></div>
            <div class="hero-sub-header pt-1">
                <p>Welcome to Spillwine, where news meets personalization! Say goodbye to generic headlines and hello to a curated news experience designed just for you.
                </p>
            </div>
            <div class="button pt-1">
                <button class="primary-bg" mat-raised-button>Schedule a Demo</button>
            </div>
        </div>
    </section>
</main>
<!-- Statistics Sections -->
<main class="half-page pt-5">
    <section class="container">
        <div class="header">
            
            <div class="header-text">
                <p class="primary-text">What Sets us Apart</p>
            </div>
            <div class="paragraph-text">
                <p class="pt-1">
                    At Spillwine, we go beyond addressing you by your first name. We dive deep into your behavior, historical interactions, and interests. Our dynamic content adapts in real time, ensuring that every article, video, or snippet you encounter aligns with what matters most to you.
                </p>
            </div>
        
        
        </div>
    </section>
</main>