@import '../../../assets/style/comp';
@import '../../../assets/style/color';


.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
    min-height: auto;
    padding: 1rem;
    // margin-left: -10%;

    @include devices (mobile) {
        margin-left: 0;
    }
    
    .hero-text { 
        padding-top: 50px;
        @include devices(mobile){
    
        }
    }
   & .hero-text h1 {

    font-size: 5rem;
    @include devices (mobile){
        line-height: 3rem;
        font-size: 3rem;
      
    }

    & span {
        font-weight: 100;
        color:$primary;
    }
   }

   p {
    font-weight: 100;
    width: 50%;
    line-height: 1.5rem;
    @include devices (mobile){
        margin-top: 1rem;
        width: 100%;
        }
    }
    .hero-cta {
        margin-top: 1rem;
    }
    & .hero-image img{
        @include image (500px, auto);
        @include devices (mobile){
            display: none;
        }
    }
}
.cta-button {
    width: 200px !important;
    height: 50px !important;
    font-weight:500 !important;
    background-color: $primary;
    padding: $_10px;
    text-decoration: none;
    color: $dark;

    &:hover {
        background-color: $primary-dark;
        color: $white;
        transition: 0.6s;
    }
}
#section {
    h1 {
        font-size: 2.3rem;
        font-weight: 200;
    }
}
.box-card {
    .box {
        .box-image img {
            @include image (330px, auto)
        }
        .box-title {
            color: $primary;
            margin-bottom: 1rem;
        }
        ul {
            padding-left: 30px;

            & li {
                margin-bottom: 1rem;
            }
        }
    }

}

.responsive {
    @include image(155px !important, auto)
}
.cta {
    min-height: 548px;
     h1 {
        font-weight: 600 !important;
    }
    & .t-center {
        text-align: center;
    }
    & .t-center a {
        border-radius: 0px !important;
        width: 550px !important;
        font-size: 1.2em !important;
        letter-spacing: normal !important;
    }
}
.res {
    @include devices(mobile){
        @include image (300px, auto);
    }
}