@import '../../assets/style/color';
@import '../../assets/style/comp';

::ng-deep .mat-toolbar {
  z-index: 999;
  position: fixed;

}

.brand{
  & .logo {
    @include image (150px, 130px)
  }
  & span {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.2rem;
  }

}


.mat-toolbar{
height: 10vh;
;
}

.nav-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  max-width: 10vw;
}
div {
  overflow: none;
}

.mat-sidenav-container{
min-height: 90vh !important;

}
mat-sidenav {
  width: 100%;
}



button{
  font-size: 1.2rem;
  font-weight: 200;
}

.nav-spacer {
  flex: 1 1 auto;
}