@import '../../assets/style/color';
@import '../../assets/style/comp';

::ng-deep .mat-toolbar {
  z-index: 999;
  position: fixed;
  background-color: white;
}
.burger {
  margin-left: -50px;
 & mat-icon {
  font-size: 30px;
 }
}

.brand{
  & .logo {
    @include image (300px, auto)
  }
  @include devices (mobile) {
    margin-left: -100px;
  }
  & span {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.2rem;
  }
}


.mat-toolbar{
  padding-left: 8%; 
  padding-right: 8%;
  padding: 50px;
}

.nav-spacer {
  flex: 1 1 auto;
}
.nav-align {
  display: flex;
  align-items: center;
  width: 100%;
}

mat-sidenav {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
 mat-sidenav .overflow {
  overflow-y: hidden !important;

 }
}


button{

  font-size: 1.2rem;
  font-weight: 200;
}

.active {
  background-color: $primary;
  transition: 1.2s;
  color: $dark !important;
}
