
  <mat-toolbar class="primary-bg shadow">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="brand" href="/" >
      <span>Spillwine</span>
    </a>
    <span class="nav-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/contact">Contact</button>
    </div>
  </mat-toolbar>
  <!-- <div class="spacer"></div> -->
  <mat-sidenav-container fxFlexFill class="sidenav-container">

    <mat-sidenav class="spacer" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <button mat-button routerLink="/home" (click)="sidenav.toggle()">Home</button>
        <button mat-button routerLink="/contact" (click)="sidenav.toggle()">Contact</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="spacer"></div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
