/* You can add global styles to this file, and also import other style files */
@import '../src/styles/color';

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
}

.app-page-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary {
  background: $logo-purple !important;

}
.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page-center-75 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  flex-direction: column;

}
.primary-gradient {
  background-size: cover; /* Cover the entire viewport */
  /* Make the background fixed */
  background: linear-gradient(to bottom, $logo-blue, $logo-purple) fixed;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.coming-soon {
  height:500px;
}
.card {
  box-shadow: $shadow;
  outline: none !important;
  border: none !important;
}

.card-emphasis{
  font-size: 2.3em;
  font-weight: 400;
}
.card-bottom-border-purple {
  border-bottom: .4em solid $logo-purple !important;
}
.card-bottom-border-green {
  border-bottom: .4em solid $logo-green !important;
}
.card-bottom-border-blue {
  border-bottom: .4em solid $logo-blue !important;
}
.card-bottom-border-dark-gray {
  border-bottom: .4em solid $dark-gray !important;
}
