<main class="app-primary-gradient">
  <section class="container-fluid app-page-center">
    <div class="card d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
          <app-back [name]="'Back to Sign in'"></app-back>
          <div class="logo my-3">
            <img [alt]="altText" [src]="logo"/>
            <h2 class="mx-2">{{ title }}</h2>
            <p class="text-muted text-center">{{ subText[0] }}</p>
          </div>
          <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
            @for (fields of SIGN_IN_FIELDS; track fields) {
              @if (fields.name == 'email') {
                <input class="form-control my-3 input" [type]="fields.type" [placeholder]="fields.placeholder"
                       [formControlName]="fields.name"/>
                @if (forgotPasswordForm.get(fields.name)?.invalid  && forgotPasswordForm.get(fields.name)?.touched) {
                  <app-alerts [alertType]="'text-danger'" [alert]="fields.errorMessage"></app-alerts>
                }
              }
            }
            <button [disabled]="forgotPasswordForm.invalid" mat-flat-button>Send Email</button>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
          <img [alt]=altText [src]=signInImage class="app-right-image" />
        </div>
      </div>
    </div>
  </section>
</main>
